<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ProRecruiter</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <body>
    <div class="nav">
        <div class="navbar">
            <a href="/"><img src="images/logo.png" class="logo"></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login"><b>Login/Sign Up</b></a></li>
            </ul>
        </div>
    </div>
    <div class="container">
