<%- include("partials/header") -%>
<div class="content">
    <div class="first-line">
        <h1>Linking <br>Talent and <br>Opportunity, <br><div class="second-line">One Bridge at a Time.</div></h1>
    </div>
    <div class="welcome-content">
        <h1>Welcome to ProRecruiter</h1>
        <p>Your Premier Recruitment Solution for Hiring!<br>At ProRecruiter, we understand the critical role<br>that talent plays in the success of corporations.<br>Our comprehensive recruitment platform is designed<br>to connect top-notch professionals with exceptional<br>career opportunities within the world's leading<br>organizations.</p>
    </div>
</div>
<hr>
<div class="help">
    <h2>How can we help your Business</h2>
    <img class="logo1" src="images/discover.png">
    <p class="p1">Companies require the best talent to drive<br>innovation and fuel growth. With ProRecruiter, you<br>gain access to an extensive pool of highly skilled<br>professionals. Our advanced matching algorithms<br>and comprehensive candidate profiles ensure that<br>you connect with the most qualified individuals who<br>possess the expertise and experience necessary to<br>meet your organization's unique needs.</p>
    <img class="logo2" src="images/unparalled.png">
    <p class="p2">We go beyond traditional job boards.<br>ProRecruiter offers a range of cutting-edge recruitment solutions<br>tailored specifically for MNCs. From streamlined<br>applicant tracking systems to AI-powered<br>candidate screening tools, our platform is equipped<br>with the latest technologies to enhance your hiring<br>process, save time, and ultimately secure top talent<br>for your organization.</p>
    <img class="logo3" src="images/partner.png">
    <p class="p3">Join our network of MNCs and industry<br>professionals who trust ProRecruiter as their go-to<br>recruitment solution. Collaborate with our dedicated<br>team of experts who understand the complexities<br>of hiring for multinational corporations. Benefit from<br>our personalized approach and innovative<br>strategies to attract, assess, and onboard the<br>best talent that drives your organization's success.</p>
    <img class="logo4" src="images/call.png">
    <p class="p4">Ready to take your recruitment efforts to the next<br>level? Sign up with ProRecruiter today and<br>experience the power of our premier recruitment<br>solution for MNCs. Connect with top talent and<br>unlock unparalleled career opportunities for<br>professionals seeking to make a significant impact<br>in the global arena.</p>   
</div>

<hr>

<div class="contact">
    <h2>Connect with Us.</h2>
    <img src="images/contact.png">
</div>

<%- include("partials/footer") -%>