<%- include("partials/header") -%>

<section class="container-forms">
    <div class="form-login">
        <div class="form-content">
            <header>Login</header>
            <form name="login" method="post">
                <div class="field input-field">
                    <input type="text" placeholder="Name" class="input" name="fname" required>
                </div>

                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input" name="email" required>
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password" name="password">
                </div>

                <div class="field button-field">
                    <button>Login</button>
                </div>

                <div class="form-link">
                    <span>Do not have an account? <a href="/signup" class="sign">Sign Up</a></span>
                </div>

            </form>

        </div>
    </div>
</section>

</div>
<div class="footer-login">
    <p>© 2023 ProRecruiter. All rights reserved.</p>
</div>
</body>
</html>

