<%- include("partials/header") -%>

<section class="container-forms">
    <div class="form-signup">
        <div class="form-content">
            <header>Sign Up</header>
            <form name="login" method="post">
                <div class="field input-field">
                    <input type="text" placeholder="Name" class="input" name="fname" required>
                </div>

                <div class="field input-field">
                    <input type="text" placeholder="Name of Organization" class="input" name="orgname" required>
                </div>

                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input" name="email" required>
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password" name="password" required>
                </div>

                <div class="field button-field">
                    <button class="sign-button">Sign Up</button>
                </div>

                <div class="form-link">
                    <span>Already have an account? <a href="/login" class="sign">Login</a></span>
                </div>

            </form>

        </div>
    </div>
</section>

</div>
<div class="footer-login">
    <p>© 2023 ProRecruiter. All rights reserved.</p>
</div>
</body>
</html>